<!-- New task creation -->
<div class="dialog-interface create-task-interface">
    <div class="create-task-dialog">
        <h2></h2>
        <i id="close-dialog" class="fa-solid fa-xmark"></i>
        <form method="POST" action="/task/new-task">
            <div class="task-id">
                <input required name="taskId" id="taskId" type="text" placeholder="ID nhiệm vụ">
            </div>
            <div class="create-date">
                <input name="dateStart" id="dateStart" type="date" placeholder="Ngày">
            </div>
            <select name="shift" id="shift">
                <option name="shift" value="Sáng">Sáng</option>
                <option name="shift" value="Chiều">Chiều</option>
                <option name="shift" value="Tối">Tối</option>
            </select>

            <select id="collector" name="nameTake"  onmousedown="handleclick(event)" >
                <option  value="Nguyen Van A" style="display: none;">Nguyen Van A</option>
                <option  value="Nguyen Van B" style="display: none;">Nguyen Van B</option>
                <option  value="Nguyen Van C" style="display: none;">Nguyen Van C</option>
                <option  value="Nguyen Van D" style="display: none;">Nguyen Van D</option>
                <option  value="Nguyen Thi E" style="display: none;">Nguyen Thi E</option>
            </select>
            <div id="collector-option" style="display: none;">
                <div class="collector-info" id="collector-option-1" onclick="closeCollector('Nguyen Van A')">
                    <img src="/public/img/avatar.png" alt="">
                    <div class="collector-text-info">
                        <p>Nguyen Van A</p>
                        <p style="font-size: 10px">ID nhân viên: C001</p>
                        <p style="font-size: 10px">Bằng lái: C1</p>
                    </div>
                </div>
                <div class="collector-info" id="collector-option-2" onclick="closeCollector('Nguyen Van B')">
                    <img src="/public/img/avatar.png" alt="">
                    <div class="collector-text-info">
                        <p>Nguyen Van B</p>
                        <p style="font-size: 10px">ID nhân viên: C003</p>
                        <p style="font-size: 10px">Bằng lái: D1</p>
                    </div>
                </div>
                <div class="collector-info" id="collector-option-3" onclick="closeCollector('Nguyen Van C')">
                    <img src="/public/img/avatar.png" alt="">
                    <div class="collector-text-info">
                        <p>Nguyen Van C</p> 
                        <p style="font-size: 10px">ID nhân viên: C003</p>
                        <p style="font-size: 10px">Bằng lái: E1</p>
                    </div>
                </div>
                <div class="collector-info" id="collector-option-4" onclick="closeCollector('Nguyen Van D')">
                    <img src="/public/img/avatar.png" alt="">
                    <div class="collector-text-info">
                        <p>Nguyen Van D</p> 
                        <p style="font-size: 10px">ID nhân viên: C001</p>
                        <p style="font-size: 10px">Bằng lái: C1</p>
                    </div>
                </div>
                <div class="collector-info" id="collector-option-5" onclick="closeCollector('Nguyen Van E')">
                    <img src="/public/img/avatar.png" alt="">
                    <div class="collector-text-info">
                        <p>Nguyen Van E</p> 
                        <p style="font-size: 10px">ID nhân viên: C001</p>
                        <p style="font-size: 10px">Bằng lái: D1</p>
                    </div>
                </div>
            </div>
    
            <select id="vehicle" name="vehicle">
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
            </select>
    
            <div class="routine-code">
                <label for="">Mã lộ trình</label>
                <input name="routeCode" type="text" placeholder="R123">
            </div>
    
            <div class="mcp-of-routine">
                <label for="">MCPs</label>
                <input name="mcps" type="text" placeholder="1-3-5">
            </div>
            <button type="submit" id="btn-continue">Lưu</button>
        </form>
    </div>
</div>

<!-- Edit Task -->

<div class="dialog-interface edit-task-interface">
    <div class="edit-task-dialog">
        <h2></h2>
        <i id="close-dialog" class="fa-solid fa-xmark"></i>
        <form name="virtual-edit-form" method="POST" >
            <div class="task-id">
                <input name="taskId" id="taskId" type="text" placeholder="ID nhiệm vụ">
            </div>
            <div class="edit-date">
                <input id="date-start-input" value="<%= tasks.dateStart %>" name="dateStart" id="dateStart" type="date" placeholder="Ngày">
            </div>
            <select  name="shift" id="shift">
                <option name="shift" value="Sáng">Sáng</option>
                <option name="shift" value="Chiều">Chiều</option>
                <option name="shift" value="Tối">Tối</option>
            </select>
    
            <select id="collector" name="nameTake">
                <% tasks.forEach(e => { %>
                    <option value="<%= e.nameTake %>"><%= e.nameTake %></option>
                <% }) %>
            </select>
    
            <select id="vehicle" name="vehicle">
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
                <option value="65A-12345">65A-12345</option>
            </select>
    
            <div class="routine-code">
                <label for="">Mã lộ trình</label>
                <input id="routine-code-input"  value="<%= tasks.routeCode %>" name="routeCode" type="text" placeholder="R123">
            </div>
    
            <div class="mcp-of-routine">
                <label for="">MCPs</label>
                <input id="mcp-of-routine-input"  value="<%= tasks.mcps %>" name="mcps" type="text" placeholder="1-3-5">
            </div>
            <button type="submit" id="btn-continue-edit">Lưu</button>
        </form>
    </div>
</div>


<!-- Delete Task UI -->

<div class="dialog-interface delete-task-interface">
    <div class="delete-task-dialog">
        <div class="content-of-dialog">
            <i class="fa-solid fa-circle-exclamation"></i>
            <h2>Xóa nhiệm vụ này</h2>
            <p>Bạn sẽ không thể khôi phục nhiệm vụ này</p>
            
            <button id="confirm-delete" >Xác nhận</button>
            <button id="cancel-delete">Hủy bỏ</button>
        </div>
    </div>
</div>

<form name="virtual-delete-form" method="POST"></form>