<%- include('header') -%>

<%- include('newTask') -%>
<!-- Main -->
<main>
    <div class="home-page">
        <!-- <img src="img/home.jpg" alt="home"> -->
        <h1>Danh sách nhiệm vụ</h1>
        <div class="option-checkbox">
            <select name="action" id="" required>
                <option value="">Hành động</option>
                <option value="delete">Xóa</option>
            </select>

            <button disabled id="sumbit-checkbox" type="submit">Thực hiện</button>
        </div>
        <div class="filter-part">
            <div class="search-input">
                <input id="search" type="text" placeholder="Tìm kiếm" onkeyup="filter(event)">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            
            <input id="task-id" type="text" placeholder="ID nhiệm vụ">
            <input id="status" type="text" placeholder="Trạng thái">
            <input id="date" type="date" placeholder="Chọn ngày">
            <button id="btn-filter">Lọc</button>
        </div>
        <form name="table-form" action="/task/handle-form-actions" method="POST">
            <table id="first-table">
                <thead>
                    <th></th>
                    <th>ID<span></span></th>
                    <th>Tên<span></span></th>
                    <th>Trạng thái<span></span></th>
                    <th>Ngày<span></span></th>
                    <th>Ca<span></span></th>
                    <th>Tùy chọn</th>
                </thead>
                
                <tbody>
                    <% tasks.forEach(function(ele){ %>
                        <tr data-id="<%= ele._id %>">
                            <th><input style="transform: scale(1.25);" id="check" type="checkbox" value="<%= ele._id %>" name="taskIds[]"></th>
                            <th><%= ele.taskId %></th>
                            <% if (!ele.nameTake.isDeleted) { %>
                                <th><%= ele.nameTake.name %></th>
                            <% } else { %>
                                <th style="color: red;">Deleted Staff</th>
                            <% } %>
                            <th><%= ele.status %></th>
                            <th><%= ele.dateStart %></th>
                            <th><%= ele.shift %></th>
                            <th>
                                <!-- <a href="/task//edit"><i id="edit-btn" class="fa-solid fa-pen"></i></a> -->
                                <a style="text-decoration: none;" href="#">
                                    <i style=" color: black;" data-id="<%= ele._id %>" id="edit-btn" class="fa-solid fa-pen"></i>
                                </a>
                                <a href="#" >
                                    <i style=" color: red; margin-left: 10px;" data-id="<%= ele._id %>" id="delete-btn" class="fa-solid fa-trash"></i>
                                </a>
                            </th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            
        </form>
        
        <button id="creat-task">Tạo mới</button>

        <div class="flip-flop-filtering">
            <p><span id="order-number-filter">1</span>-<span id="number-of-rows-filter">10</span> of <span id="number-of-pages-filter">50</span></p>
            <button id="previous-table-filter"><i class="fa-solid fa-angle-left"></i></button>
            <button  id="next-table-filter"><i class="fa-solid fa-angle-right"></i></button>
        </div>

        <div class="flip-flop-part">
            <p><span id="order-number">1</span>-<span id="number-of-rows">10</span> of <span id="number-of-pages">50</span></p>
            <button id="previous-table"><i class="fa-solid fa-angle-left"></i></button>
            <button  id="next-table"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>

    <div class="successful-save">
        <span><i class="fa-regular fa-circle-check"></i></span>
        <p></p>
    </div>
</main>
<script>
    var taskItemsCheckBox = document.querySelectorAll('input[name="taskIds[]"]');
    // console.dir(taskItemsCheckBox);
    var tableForm = document.forms['table-form']
    console.log(tableForm);
    taskItemsCheckBox.forEach((taskItem) => {
        taskItem.onchange = () => {
            renderCheckSumbit();
        }
    })

    const sumbitCheckBoxBtn = document.getElementById('sumbit-checkbox')
    console.dir(sumbitCheckBoxBtn.disabled)
    function renderCheckSumbit(){
        var isCheckedLength = document.querySelectorAll('input[type="checkbox"]:checked').length;
        if (isCheckedLength > 0){
            sumbitCheckBoxBtn.disabled = false;
        }
        else{
            sumbitCheckBoxBtn.disabled = true;
        }
        // console.log(isCheckedLength);
    }
</script>
<%- include('footer') -%>