<%- include('header') -%>

<%- include('newTask') -%>
<!-- Main -->
<main>
    <div class="home-page">
        <!-- <img src="img/home.jpg" alt="home"> -->
        <h1>Danh sách nhiệm vụ</h1>
        <div class="filter-part">
            <div class="search-input">
                <input id="search" type="text" placeholder="Tìm kiếm">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <input id="task-id" type="text" placeholder="ID nhiệm vụ">
            <input id="status" type="text" placeholder="Trạng thái">
            <input id="date" type="date" placeholder="Chọn ngày">
            <button id="btn-filter">Lọc</button>
        </div>
        
        <table id="first-table">
            <thead>
                <th>ID<span></span></th>
                <th>Tên<span></span></th>
                <th>Trạng thái<span></span></th>
                <th>Ngày<span></span></th>
                <th>Ca<span></span></th>
                <th>Tùy chọn</th>
            </thead>
            
            <tbody>
                <% tasks.forEach(function(ele){ %>
                    <tr data-id="<%= ele._id %>">
                        <th><%= ele.taskId %></th>
                        <th><%= ele.nameTake %></th>
                        <th><%= ele.status %></th>
                        <th><%= ele.dateStart %></th>
                        <th><%= ele.shift %></th>
                        <th>
                            <!-- <a href="/task//edit"><i id="edit-btn" class="fa-solid fa-pen"></i></a> -->
                            <a style="text-decoration: none;" href="#">
                                <i style=" color: black;" data-id="<%= ele._id %>" id="edit-btn" class="fa-solid fa-pen"></i>
                            </a>
                            <a href="#" >
                                <i  data-id="<%= ele._id %>" id="delete-btn" class="fa-solid fa-trash"></i>
                            </a>
                        </th>
                    </tr>
                <% }) %>

                <!-- <a href="/task/detail-task">More detail</a> -->
<!--                 
                <tr>
                    <th>0001</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/5/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0001</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0001</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/7/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0002</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0003</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đã xong</th>
                    <th>3/2/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0002</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/7/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0004</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0001</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đã xong</th>
                    <th>3/7/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0005</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/5/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0002</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0001</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/5/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0002</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0001</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0001</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/5/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0001</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/7/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0002</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0003</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đã xong</th>
                    <th>3/2/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0002</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/7/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0004</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0003</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0001</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/5/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0002</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0001</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/7/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0002</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0003</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đã xong</th>
                    <th>3/2/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0002</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/7/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0004</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr> -->
                <!-- <tr>
                    <th>0002</th>
                    <th>Nguyễn Văn A</th>
                    <th>Chưa bắt đầu</th>
                    <th>3/7/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr>
                <tr>
                    <th>0004</th>
                    <th>Nguyễn Văn A</th>
                    <th>Đang diễn ra</th>
                    <th>3/4/2023</th>
                    <th>Sáng</th>
                    <th>
                        <i id="edit-btn" class="fa-solid fa-pen"></i>
                        <i id="delete-btn" class="fa-solid fa-trash"></i>
                    </th>
                </tr> -->
            </tbody>
        </table>
        
        <button id="creat-task">Tạo mới</button>

        <div class="flip-flop-filtering">
            <p><span id="order-number-filter">1</span>-<span id="number-of-rows-filter">10</span> of <span id="number-of-pages-filter">50</span></p>
            <button id="previous-table-filter"><i class="fa-solid fa-angle-left"></i></button>
            <button  id="next-table-filter"><i class="fa-solid fa-angle-right"></i></button>
        </div>

        <div class="flip-flop-part">
            <p><span id="order-number">1</span>-<span id="number-of-rows">10</span> of <span id="number-of-pages">50</span></p>
            <button id="previous-table"><i class="fa-solid fa-angle-left"></i></button>
            <button  id="next-table"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>

    <div class="successful-save">
        <span><i class="fa-regular fa-circle-check"></i></span>
        <p></p>
    </div>
</main>

<%- include('footer') -%>